<header>
  <div class="titulo">
    <h1>ChrisFlix</h1>
  </div>
  <div class="botones">
    <button routerLink="/" class="btn btn-primary" >Home</button>
    
  </div>
</header>
<div class="conteiner">
  <form>
    <h2>Contact Me</h2>
    <input type="text" placeholder="Dime tu nombre" required>
    <input type="email" placeholder="Dime tu email" required>
    <textarea name="" id="" cols="30" rows="10" placeholder="Escribe tu pregunta o mensaje"></textarea>
    <button class="btn btn-danger">Enviar</button>
  </form>
</div>
